<div class="container mt-3">
    <h2>All Tickets</h2>
    <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Complaint Id</th>
            <th scope="col">Room No</th>
            <th scope="col">Name</th>
            <th scope="col">Issue Type</th>
            <th scope="col">Description</th>
            <th scope="col">Date and Time</th>
            <th scope="col">Status</th>
            <th scope="col">Update</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of allTickets">
            <th scope="row">{{element.id}}</th>
            <td>{{element.roomNumber}}</td>
            <td>{{element.customerName}}</td>
            <td>{{element.issueType}}</td>
            <td>{{element.issueDescription}}</td>
            <td>{{element.dateTime | date : 'medium' }}</td>
            <td>{{element.status}}</td>
            <td *ngIf="element.status == 'Pending'"><button class="btn btn-success" (click)="resolved(element)">Resolved</button></td>
            <td *ngIf="element.status == 'Resolved'"><button class="btn btn-danger" (click)="deleteTicket(element)">Delete</button></td>
          </tr>
        </tbody>
      </table>
   <!-- <div class="mt-5">
    <app-pending-tickets></app-pending-tickets>
    <app-resolved-tickets></app-resolved-tickets>
   </div> -->
</div>