<form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
      <label for="ticket-no">Ticket Number:</label>
      <input type="text" id="ticket-no" name="ticket-no" formControlName="ticketno" required>
      
      <label for="subject">Subject:</label>
      <input type="text" id="subject" name="subject" formControlName="subject" required>
    </div>
  </div>

    <!-- <label for="customer-name">Customer Name:</label>
    <input type="text" id="customer-name" name="customerName" formControlName="name" [(ngModel)]="customerName" required>
  
    <label for="room-number">Room Number:</label>
    <input type="text" id="room-number" name="roomNumber" formControlName="roomNo" [(ngModel)]="roomNumber" required>
  
    <label for="issue-type">Issue Type:</label>
    <input type="text" id="issue-type" name="issueType" formControlName="issue" [(ngModel)]="issueType" required>
   -->
    <label for="issue-description">Issue Description:</label>
    <textarea id="issue-description" name="issueDescription" formControlName="description" [(ngModel)]="issueDescription" rows="5" required></textarea>
  
    <button type="submit">Create Ticket</button>
  </form>
  